.vehiculo{
  width: 350px;
  height: 200px;
  border-color: blue;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 1px solid blue;
}

.marca{
  margin-top: 10px;
  position: absolute;
  color: #000;
  font-size: 25px;
  margin-left: 180px;
}

.modelo{
  position: absolute;
  margin-top: 40px;
  color: #3b495b;
  font-size: 20px;
  font-style: italic;
  margin-left: 180px;
}

.precioPorDia{
  position: absolute;
  color: #e55339;
  font-size: 26px;
  margin-top: 135px;
  margin-left: 190px;
}

.combustible{
  position: absolute;
  margin-top: 150px;
  margin-left: 10px;
  font-size: 12px;
}

.pasajeros{
  position: absolute;
  margin-top: 170px;
  margin-left: 10px;
  font-size: 12px;
}

.logo-car{
  position: absolute;
  margin-top: 5px;
  width: 175px;
  height: 140px;
}
