.orden{
  width: 700px;
  height: 150px;
  border-color: blue;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 1px solid blue;
}

.nombre{
  margin-top: 10px;
  position: absolute;
  color: #000;
  font-size: 25px;
  margin-left: 180px;
}

.email{
  position: absolute;
  margin-top: 40px;
  color: #3b495b;
  font-size: 20px;
  font-style: italic;
  margin-left: 180px;
}

.idVehiculo{
  position: absolute;
  color: #e55339;
  font-size: 15px;
  margin-top: 105px;
  margin-left: 190px;
}

.telefono{
  position: absolute;
  margin-top: 10px;
  margin-left: 500px;
  font-size: 18px;
}

.licencia{
  position: absolute;
  margin-top: 40px;
  margin-left: 500px;
  font-size: 18px;
}

.logo-calendar{
  position: absolute;
  margin-top: 5px;
  width: 140px;
  height: 110px;
}
